* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smooth: antialiased;
}

body {
  font-family: 'Heebo', sans-serif;
  background: linear-gradient(107.54deg, #935FD3 0%, #9245F1 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 365px;
  height: 584px;
  background: #FDFCFE;
  box-shadow: 0px 52px 21px rgba(30, 30, 30, 0.01), 0px 29px 18px rgba(30, 30, 30, 0.05), 0px 13px 13px rgba(30, 30, 30, 0.09), 0px 3px 7px rgba(30, 30, 30, 0.1), 0px 0px 0px rgba(30, 30, 30, 0.1);
  border: 1px solid #F4EFFA;
  border-radius: 12px;
  padding: 24px 24px 16px 24px;
}

/* avatar section */
.avatar {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.avatar h3 {
  color: #38343D;
  font-size: 18px;
  font-weight: bold;
}

.avatar span {
  color: #686071;
  font-size: 14px;
}

hr {
  color: #F4EFFA;
}